<footer>
    
    <div  class="foot-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a</li>
          <li><a href="{{ site.baseurl }}/help">Help</a></li>
        </ul>
    </div>
    <div class="bottom-control">
        <p>
            Copyright &copy; 2019 &nbsp;&nbsp;&nbsp;
            <a id="masthead" href="{{ site.baseurl }}/">{{ site.title }}</a>&nbsp;&nbsp;
            &nbsp;All rights reserved &nbsp;&nbsp;&nbsp;<i>Powered by 
            </i><a id="webmaster" href="https://www.techhandie.com">TechHandie Corp.</a>
        </p>
    </div>
    
</footer>