/**************************/
/* Custom Variables Start */
/**************************/

/* Colors */
$bordeaux: #5F021F;
$cordial: #820010;/*8C001A*/
$burgundy: #4C0013;
$french_cocoa: #53292A;
$lght-grey: #d4d4d4;

/*
$cobalt: #2b0680;
$golden: #f3c649;
$rose: #f28281;
$fade: #bfcecb;
$water-grey: #94ada8;
$md-grey: #5e5e5e;
$grey: #666666;
$drk-grey: #2c2c2c;
$royal: #000099;
$cadet:	#2b0680;
$corn-blue: #5612f4;
$water: #d0dac6;
$midnite: #120337;
$crimson: #e82625;
$obsidian: #0d0d26;
*/

/* Font Sizes */
$font-pica: 0.375em; /*6px*/
$font-xsm: 0.5em; /*8px*/
$font-sml: 0.625em; /*10px*/
$font-nrm: 0.75em; /*12px*/
$font-std: 1em; /*16px*/
$font-md: 1.125em; /*18px*/
$font-bg: 1.25em; /*20px*/
$font-xbg: 1.5em; /*24px*/
$font-lg: 1.75em; /*28px*/
$font-xlg: 2em; /*32px*/
$font-xxlg: 2.125em; /*34px*/
$font-xxx: 2.25em; /*36px*/
$font-sup: 2.5em; /*40px*/

/**************************/
/* Custom Variables End   */
/**************************/
