---
---
@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Nova+Round|Nova+Square|Open+Sans|Pacifico|Raleway|Slabo+13px|Slabo+27px');

/******************/
/* Customized CSS */
/******************/

/*Fonts*/
@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat-XB';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('trutype');
}
@font-face {
    font-family: 'Nova Round';
    src: url('../assets/fonts/Nova-Round.ttf') format('trutype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo13';
    src: url('../assets/fonts/Slabo13px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo27';
    src: url('../assets/fonts/Slabo27px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Handel-Gothic';
    src: url('../assets/fonts/Handel-Gothic.ttf') format('trutype');
}
/* Fonts End */
                
                
/***********/
/* General */
/***********/

#site-container {
    width: 100vw;
    margin: 0 auto;
}

body {

    background: linear-gradient(rgba(16,16,17,0.7), rgba(16,16,17,0.7)), url('/assets/images/city-skyline-1149137-1920-1920x1439.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*text-align: center;*/
    /*width: 100%;
    height: 100%;*/
}

.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

/* General End */


/***************/
/* Header Menu */
/***************/

/*Use a flex container to hold the Brand & navbar*/
.header-container {
    width: 100%;
    display: inline-flex;/*inline-table*/
    flex-direction: row;
    justify-content: center;/*space-evenly*/
    align-items: center;
    padding-top: 50px;/* 30px */
    /*padding: 10px 20px 20px 20px;*/
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

/*.header-container .hidden:hover {margin-bottom: 100px;}*/

.brand {
    display: table-cell; /*none;/*table-row*/
    text-align: left;
    vertical-align: middle;
    font-family:'Montserrat',sans-serif;
    font-size: 1.25em;
    font-weight: 650;
    background-color: transparent;
    color: white;
    float: left;
}

/* Brand link styling*/
a.brand {text-decoration:none;}

a.brand:hover {color: cornflowerblue;} /*darkslateblue #19c589 $peas*/

.navigator {
    display: inline-flex;/*inline-table*/
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;/*space-evenly*/
}

.nav-block {
    width: 450px;
    display: flex;/*inline table-cell*/
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px 0 10px;/*40px right & 10px left*/
}

#menu {display: table-cell;}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    margin: 0 40px 0 0;/*0 5% 0 0*/
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 0px;
    padding-left: 25px;
}

.phantom {display: none;}

/*Style for menu links*/
li a {
    display: block;
    min-width: 100px;
    height: 30px;/*25*/
    text-align: center;
    vertical-align:middle;
    line-height: 1.5em;/*30px*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: white;/*#fff;*/
    background: transparent;/*#2f3036*/
    text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
    background: #F7F7F7;/*#19c589*/
    color: darkslateblue;/*#19c589$peas*/
}

/*Style for dropdown menu links*/
li:hover ul a {
    background: #F7F7F7; /*gold #f3f3f3*/
    color: #2f3036;
    height: 40px;
    line-height: 2.5;/*40px*/
    text-align: justify;
    margin: 0px auto;/*make menu items one list -12*/
    border-bottom: 1px solid #cccccc;/* dotted #2E3642 */
}

#head-container ul > li:last-child {border: none;}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #42426F;/*#19c589 $peas #19c589*/
    color: #ffffff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
    position: absolute; /* changed */
    z-index: 1000; /* changed */
}

/*Increase the size of hamburger menu icon*/
.grow {
    font-size: 25px;
    margin: auto;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #42426F; /*19c589$peas #19c589*/
    text-align: center;
    padding: 10px 0;
    display: none;
    border-radius: 6px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.split {
    display: inline-flex;/*table-cell*/
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    padding: 0 10px 0 10px;
    /*margin-left: 500px;*/
}

#b-donate {
    display: flex;
    /*height: 40px;*/
    align-content: flex-end;
}

.btn.btn-outline-success.btn-sm.my-2.my-sm-0.table-cell {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
}

.btn.btn-outline-success.btn-sm.my-2.my-sm-0.table-cell:hover {
    border: none;
    background-color: white;
    color: $drk-grey;
}

a.search-icon.table-cell {
    color: white;
    font-size: 1em;
}

.split a.search-icon.table-cell:hover {
    text-decoration: none;
    color: $rose;
}

/* Header Menu End */


/*********************/
/* Home Page (Index) */
/*********************/

.index-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    margin-bottom: 10px;
}

#content .block {
    margin-top: 12%; /*13%*/
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

#content .index-container .row .col-md-12 .block h1.section-title {
    font-family: 'Montserrat-XB', sans-serif;
    color: white; /*#494f54*/
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.section-lead {
    font-family: 'Lora', serif;
    font-size: 1.25em;
    color: white;
    text-align: justify;
    font-style: italic;
}

#home-buttons {
    margin-left: 20%;
    margin-right: 20%;
}

.btn {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
    margin: 25px 20px 0px 20px;
}

.btn:hover  {
    border: none;
    background-color: white;
    color: $drk-grey;
}

#home-buttons a.btn.btn-outline-custom.btn-lg {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
    margin: 25px 20px 0px 20px;
}

#home-buttons a.btn.btn-outline-custom.btn-lg:hover  {
    border: none;
    background-color: white;
    color: $drk-grey;
}

/* Index/Home Page Ends */


/* Post Begins */

.article-container {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Post End*/


/*---------------------*/
/*   Share Box Start   */
/*---------------------*/

.share-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.share-box h5 {color: ivory;}

.share-box a {
  display: inline-block;
  /*-webkit-box-shadow: 0 0 1px #777;
  box-shadow: 0 0 1px #777;*/
  padding: 5px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.share-box a:hover {
  text-decoration: none;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }

.f {
  color: #476bb8;} /*#3b5998 #5a7abf*/

.f:hover {
  color: #fff;
  background-color: #3b5998; }

.t {
  color: #4099FF; }

.t:hover {
  color: #fff;
  background-color: #4099FF; }

.p {
  color: #e60023; }

.p:hover {
  color: #fff;
  background-color: #e60023; }

.r {
  color: #ff5700; }

.r:hover {
  color: #fff;
  background-color: #ff5700; }

.l {
  color: #0077b5; }

.l:hover {
  color: #fff;
  background-color: #0077b5; }

.e {
  color: ivory; } /*#444444*/

.e:hover {
  color: #444444;
  background-color: #ffffff; }

/*---------------------*/
/*   Share Box End     */
/*---------------------*/


/*--------------------*/
/*    Footer Start    */
/*--------------------*/

#flex-menu {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 10% 10px 10%;
    font-family: 'Montserrat-XB', sans-serif;
    font-size: 0.825em;
    text-align: center;
    color: white;
}

#flex-menu > div {
/*child element of named parent*/
/*
  1/n  - n columns per row
  10px - spacing between columns 
*/
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/3*100% - (1 - 1/3));
  /*border: 3px dotted gold;*/
  padding: 0;
  text-align: center;
}

.menu-items {    
    font-family: 'Montserrat-XB', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
    color: white;
}

.menu-items:hover {color: $rose;}

#masthead {color: white;}

#webmaster {font-family: 'Handel-Gothic', sans-serif; color: white;}

a#masthead:hover, a#webmaster:hover {color: $rose;}

.bottom-control {color: white;}

/* Footer End */


/*************************************/
/*                                   */
/* Media Queries - Responsive Styles */
/*                                   */
/*************************************/

/* For Tablets */
@media only screen and (max-width: 1300px) {
    #home-buttons {margin:0 5%}
    
    #content .index-container .row .col-md-12 .block h1.section-title {font-size: 2em;}
    
    #content .block {margin-top: 10%;}
    
    #content .index-container {margin-bottom: 0%;}/*8% 25px*/

    #home-buttons {margin: 0 30px 0px 100px;}

    #flex-menu {margin: 10px 10% 10px 10%;}
    
    #flex-menu > div {
      box-sizing: border-box;
      margin-bottom: 10px;
      width: calc(1/3*100% - (1 - 1/3)*5px);
      /*border: 3px dotted gold;*/
      padding: 0px;
      text-align: center;
    }
}


/* For Phones */
@media only screen and (max-width: 768px) {
    
    #site-container {padding: 20px 60px;}
    
    header {padding-bottom: 50px; margin-left: 0px;}
    
    .header-container {
        display:table;
        text-align:left;
        vertical-align: middle;
    }
    
    .header-container::before {
        display: inline-block;
        content: 'Cornerstone Community Development Corporation';
        font-size: 1.125em;
        font-style: oblique;
        font-weight: 600;
        padding: 3px 0px 10px -5px;
        margin: 0 0% 10px 0%;
        color: ivory;
    }
    
/* Header */
    .navigator {
    display: flex;/*inline-table*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
    
    a.brand {display: none;}
    
/*Make dropdown links appear inline*/
   ul {
       position: static;
       display: none;
   }
    
/*Create vertical spacing*/
   li {
       padding: 10px 0;
       margin-bottom: 1px;
   }
   
   li a {text-align: justify;}
    
/*Make all menu links full width*/
   ul li, li a {
       width: 100%;
   }
    
/*Style for dropdown menu links*/
   li:hover ul a {
       /*background: gold; /*#F7F7F7;/*#f3f3f3*/
       /*color: #2f3036;*/
       /*height: 40px;*/
       /*line-height: 2.5;/*40px*/
       /*text-align: justify;*/
       margin: -10px auto;/*make menu items one list -12*/
} 
    
/*Display 'show menu' link*/
   .show-menu {display: block;}
    
    .phantom {display: block;}    
    
    #menu {display: none;}
    
    .nav-block {display: block; width: 100px; margin:0;}
    
    a.brand {display: none;}
    
    .split {display: none;/*inline-flex; table-cell*/}
    

/* Home Page*/
    #content .index-container {margin: -10px 0 60px 0;}
    
    #content .block {margin: 0; text-align: center;}
    
    #content .index-container .row .col-md-12 .block h1.section-title {text-align: left; font-size: 1.75em; color: ivory;}/*papayawhip*/
    
    #content .section-lead {font-size: 1.125em;text-align: left;color: ivory;}/*papayawhip*/
    
    #home-buttons a.btn.btn-outline-custom.btn-lg {font-size: 1em; color: ivory;}
    
    #home-buttons {margin: 0 80% 50px 0px;}


/*Footer*/
    #flex-menu {margin: 10px 0 0px -30px;}
    
    #flex-menu > div {
      box-sizing: border-box;
      margin-bottom: 10px;
      width: calc(1/3*100% - (1 - 1/3)*10px);
      /*border: 3px dotted gold;*/
      padding: 10px;
      text-align: left;/*center*/
    }

  /*Share-box*/
  .share-box h5 {display: none;}

  .share-box span {display: none;}


}