---
---
@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Raleway|Slabo+13px|Slabo+27px');

/******************/
/* Customized CSS */
/*****************/
/*Fonts*/
@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat-XB';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('trutype');
}
@font-face {
    font-family: 'NovaRound';
    src: url('../assets/fonts/NovaRound.ttf') format('trutype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo13';
    src: url('../assets/fonts/Slabo13px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo27';
    src: url('../assets/fonts/Slabo27px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Handel-Gothic';
    src: url('../assets/fonts/Handel-Gothic.ttf') format('trutype');
}


/* General */
* {box-sizing: border-box;}

:root, html, body {
    background: linear-gradient(rgba(16,16,17,0.7), rgba(16,16,17,0.7)), url('/assets/images/city-skyline-1149137-1920-1920x1439.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
/* rgba(16,16,17,0.7)*/
}

@media (min-height: 568px) {
    height: 100%;
    .container {
        min-height: 568px;
    }
}



.full-height {
    height: 100%;
}

.full {
    height: 100%;
    width: 100%;
}


/* Header */
.container-fluid {
    width: 100%;
    height: 100%;
}

.navbar-expand-lg {
    /*background-color: transparent; /* black, $md-grey, #5e5e5e*/
    min-height: 0.812rem;
}

.navbar-custom {
    background-color: transparent; /* black, $md-grey, #5e5e5e*/
    
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.812em;
    color: white;
    text-decoration: none;
    padding: 0 30px 0 30px;
}

.navbar-toggler {
    border-color: white; /*rgb(255,102,203)*/
}
.navbar-toggler-icon { /* custom toggler icon */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)'
  stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

li {
  /* margin: 25px;*/
    padding-right: 10px;
    padding-left: 10px;
    line-height: 100px;
    a, a:active {
        color: white;
    }
    a:hover {
        color: $peas;
    }
}

li .dropdown-toggle {
    /*color: $peas;*/
    line-height: 110px;
}


/* Content */
.index-container {
    color: white;
}

.block {
    margin-top: 5%; /*10%*/
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.section-title {
    font-family: 'Montserrat-XB', sans-serif;
    color: white; /*#494f54*/
    font-size: 2.75em;
    font-weight: bold;
    text-align: justify;
    padding-bottom: 20px;
}

.section-lead {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    font-style: italic;
}

#home-buttons {
    margin-left: 20%;
    margin-right: 20%;
}

.btn {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
    margin: 25px 20px 0px 20px;
}

.btn:hover  {
    border: none;
    background-color: white;
    color: $drk-grey;
}

/* About Section */
#about .container {
    background: transparent;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 25%;
}

// #about .section-title {
//   
//   font-size: 30px;
//  }

#about-title {
    padding: 1.0rem 0 0.75rem 0;
    font-family: 'Lora', serif;
    font-style: italic;
    color: white;
    font-size: 1.7em; /*1.875em(30px)*/
}

#about-lead {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em; /*3.75em(60px);*/
}


#contact-info {
    background: transparent; /*rgb(204, 204, 204)*/
    padding-top: 100px;
    /*padding-bottom: 120px;*/
    height: 100h;
    width: 100w;
}

#contact-info .section-title {
    color: white;
}

small.section-subtitle {
    color: white;
    font-style: italic;
}    

.col-xs-12 {
   margin-bottom: 20px; 
}

label {
    color: white;
}

#education {
    
}

/* Leaders Section */
#leaders {
    background-color: $md-grey; /* #D2D4C9 rgb(102, 102, 102);*/
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.jumbotron {
    background: transparent;
}

table {
    margin-left: 12.5%;
    margin-right: 20%;
    margin-bottom: 50px;
    border: 0;
    #header-row {
        font-family: 'Slabo27';
        font-size: 2.25em;
        text-align: center;
        color: white;
        line-height: 125px;
    }
}

tr, td {
        border: 0;
        /*margin-bottom: 50px;*/
}

td {
    padding-right: 30px;
}
.caption {
    font-family: 'NovaRound', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.caption p {
    font-size: 1.5em;
}

.cap-title {
    font-size: 0.75em;
    font-style: italic;
}

#mission {
    padding: 20px 0 20px 0;
    background: $lght-grey;
    h1 {
        text-align: justify;
        font-family: 'Montserrat-XB';
        font-size: 3.25em;
        font-weight: 500;
        padding: 80px 0 20px 0px;
    }
    .container {
        text-align: justify;
        height: 1200px;
        width: 100%;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.75em;
    }
}

/* Purpose*/
#purpose {
    padding: 50px 0 20px 0;
    background: $lght-grey;
    h1 {
        text-align: justify;
        font-family: 'Montserrat-XB';
        font-size: 3.25em;
        font-weight: 500;
        padding: 80px 0 20px 0px;
    }
    .container {
        text-align: justify;
        height: 1200px;
        width: 100%;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
    }
}

#purpose h2.section-subtitle {
    font-family:'Montserrat-XB', serif;
    font-size: 2.25em;
    padding-bottom: 20px;
}

#purpose li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    list-style-type: square;
    padding: 0;
    line-height: 2em;
}


/* Post */
.article-container {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-- Resources Begin --*/

.directory {/* container */
    width: 100%;
    height: 100%;
    background: $water;/*#9DA1A2 white*/
    margin-left: auto;
    margin-right: auto;
}

#table-title {
    text-align: center;
    font-family: Geneva, Tahoma, Verdana, san-serif;
    font-size: 2.25rem;
    font-weight: 600;
    color: $cadet; /*#003399*/
    padding: 25px 0 25px 0;
    margin-left: 16.5%;
    margin-right: 20%;
}

table {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 7.5%;
    margin-right: 30%;
}

.table-bordered {
    border: 1px solid $cobalt;
}

.table-responsive {/* table wrapper - must for responsivity */
    background: $water; /*#9DA1A2 white*/
    height: 100%;
    margin-bottom: 100px;
}

/* Table Header */
.table-responsive thead tr th {
    background: #6665cd;/* darkblue $midnite;*/
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: normal;
    border-color: $cobalt;
}

/* Set Column widths based on these cells */
th.col-1.col-name, td.col-1.col-name.row-group {
  width: 20%;
}
th.col-2.col-address, td.col-2.col-address.row-group {
  width: 20%;
}
th.col-3.col-city, td.col-3.col-city.row-group {
  width: 10%;
}
th.col-4.col-phone, td.th.col-4.col-phone.row-group {
  width: 10%;
}
th.col-5.col-contact, td.col-5.col-contact.row-group {
  width: 20%;
}
th.col-6.col-note, td.col-6.col-note.row-group {
  width: 20%;
}

/* Row Heading */
.table-responsive .row-group {
    background-color: #e7e9fd;/*cbcefb*/
    color: $cobalt; /*#00009b*/
    text-align: left;
    vertical-align: middle;
    font-size: 0.8125em;
    font-weight: 700;
    border-top: 1px solid $cobalt;
    border-bottom: 1px solid $cobalt;
    border-left: 0;
    border-right: 0;
}

/* Cell Data */
.table-responsive td {
    font-family: Arial, sans-serif;
    color: $cobalt;
    font-size: 0.75em;
    padding: 10px 5px;
    border-style: dotted;
    border-width: 1px;
    border-color: $cobalt;
    text-align: left;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td a.text-info {
    color: #6665cd !important;
}
    
td a.text-info:hover {
    color: $rose !important;
}
/*-- Resources End --*/

/*-- Scholarship Begins --*/
h1.news-title {
    text-align: center;
    color: white;
}

.news-content {
    position: relative;
    margin-top: 15px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background: $lght-grey;
    font-size: 0.65em;
    border: 1px dotted green;
}

.news-content a {
    color: $cobalt;
}

.col-xs-12.col-md-3 {
    margin-left: 3%;
    margin-right: 3%;
}

.cat-header {
    color: $crimson;
    font-size: 1em;
    padding-top: 20px;
}

.col-md-10.col-md-offset-1.row2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.table-block { /* wrap the table */
    width: 100%;
    height: 100%;
    margin-top: 13px;
    text-align: center;
    padding-right: 120px;
}

table.partners { /*controls the table*/
    width: 100%;
    height: 100%;
    background: transparent;
    padding-top: 50px;
    td a.caption {
        font-size: 0.75em;
        font-weight: 600;
        color: $water;
    }
}

table.partners tr {
    height: 100%;
}

table.partners tr:hover {
        background: white; /*$water*/
        .caption {
        color: $midnite;
        }
}

table.partners td { /* controls the data cells */
    text-align: center;
    vertical-align: middle;
}

img.img-responsive {
    padding-bottom: -30px;  
}

a.caption { /* controls the caption */
    display: inline-block;
    line-height: 1;
}

/* Calendar */
#community_calender {
    background: #222C3B;/*#222C3B 4386fc #c9e9f6*/
    // border: 1px dotted red;
    margin-top: -20px;
    // margin-bottom: 30px; 
    width: 100%;
    height: 1290px;
    content: center;
    // padding-top: 30px;
    h1 {
        color: $water;
    }
}

#community_calender .jumbotron {
    width: 100%;
    height: 100%;
    text-align: center;
    .calendar-wrap {
        margin-top: 5%;
    }
}

/* Events Table */
div.events-wrap {
    background: #222C3B;
    width: 100%;
    height: 100%;
    padding-top:15px;
    margin-top: -20px;
    margin-bottom: 0%;       
    text-align: center;
    border-top: 2px solid #4C4F54;
    box-shadow: 0 -5px 10px 5px $water; 
}

.events-titles {
    padding: 0 0 15px 0;
    h1 {color: white;}
    a {
    font-family: 'Montserrat-XB';
    font-style: italic;
    font-size: 2em;
    color: white;
    text-decoration: none;
    }
    a:hover {color: $rose;}
}

table.events {
    table-layout:fixed;
    width: 90%;
    height: 70%;
    background: #B0E0E6;/*white;*/
    // border-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-spacing:0;
    margin:0 auto;
    color: $midnite;/* #222C3B */
    border-collapse: collapse;/* separate */
}

.events td {
    // width: 50%;
    font-family:'Slabo27px', sans-serif;
    font-size: 0.75em;
    padding: 10px 5px;
    word-break:normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    border: 1px solid $water;
    text-shadow: 1px 1px 1px #ffffff;
}

.events thead tr {background: transparent;}

.events th {
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding:10px 5px;
    border-bottom: 1.5px solid navy;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    word-break:normal;
    text-align:left;
    vertical-align: middle;
    // z-index: 3;
}

.col-entry a {color: navy; }

.col-entry a:hover {color: $rose;}

.round-table {border: none;}

.round-table {
    border: none;
    text-shadow: 1px 1px 1px white;
}

.round-table thead:first-child{border-radius: 15px 0 0 0;}

.round-table thead:first-child{border-radius: 0 15px 0 0;}

.round-table td{border: none; border-top: 1px dotted navy; background-color: white;}

.round-table tr:last-child td:first-child{border-radius: 0 0 0 20px;}

.round-table tr:last-child td:last-child{border-radius: 0 0 20px 0;}

/* Set column widths & overflow */
table.events th.col-entry, table.events td.col-entry {width: 3%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;text-align: center; font-weight: bold;}
table.events th.col-date, table.events td.col-date {width: 7%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-day, table.events td.col-day {width: 3%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-event, table.events td.col-event {width: 9%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-from, table.events td.col-from {width: 7%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-to, table.events td.col-to {width: 7%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-venue, table.events td.col-venue {width: 9%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-address, table.events td.address {width: 12%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-primary-sponsor, table.events td.col-primary-sponsor {width: 10%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-contact-name, table.events td.col-contact-name {width: 5%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-contact-phone,table.events td.col-contact-phone {width: 3%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-fee,table.events td.col-fee {width: 3%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-details,table.events td.col-details {width: 15%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-website,table.events td.col-website {width: 5%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-attachment,table.events td.attachment {width: 2%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}

/* Tooltip Design */
.row-summary {
  postion: relative;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.row-details {
  display: none;
  position: absolute;
  border: 1px;/*0*/
  border-style: solid;
  border-width: 2px;/*0*/
  border-color: $midnite;/*$water*/
  border-radius: 12px;
  padding: 10px;
  left: 10%;
  width: 70%;
  height: auto;
  word-break: normal;
  white-space: normal;
  vertical-align: middle;
  text-align: justify;
  margin-top: 20px;
}

.row-details:after {
  position: absolute;
  top: -20px;
  bottom: 0;
  height: 0;
  width: 0;
  left: 1.5%;
  border: 10px solid transparent;
  border-bottom-color: #222C3B;;
  content: "";
}

.row-summary:hover span.row-details {
  background: #f2f2f2;/* #f9f9eb $water beige $midnite #222C3B */
  color: $cobalt;/* $cobalt #222C38 */
  display: block;
  font-family: 'Montserrat';
  font-size: 1.125em;
}
/* Tooltip Design End*/

/*--	Footer Start --*/
footer {
    background: transparent;
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
}

footer p {
    font-family: 'Montserrat-XB', sans-serif;
    font-size: 0.8125em;
    text-align: center;
    color: white;
}

footer p a:hover {
    color: $rose;
}

.foot-menu {
    height: 50px;
    margin-bottom: 20px;
}

.foot-menu ul li {
    display: inline;
    text-align: center;
}

.foot-menu ul li a {
    color: #white; /* #494949; */
}

.foot-menu ul li a:hover {
    color: $rose;
}

#masthead {
    color: white;
}

#webmaster {
    font-family: 'Handel-Gothic', sans-serif;
    color: white;
}

a#masthead:hover, a#webmaster:hover {
    color: $rose;
}