---
---
@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Nova+Round|Nova+Square|Open+Sans|Pacifico|Raleway|Slabo+13px|Slabo+27px');

/******************/
/* Customized CSS */
/*****************/
/*Fonts*/
@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Montserrat-XB';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('trutype');
}
@font-face {
    font-family: 'Nova Round';
    src: url('../assets/fonts/Nova-Round.ttf') format('trutype');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Medium.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo13';
    src: url('../assets/fonts/Slabo13px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Slabo27';
    src: url('../assets/fonts/Slabo27px-Regular.ttf') format('trutype');
}
@font-face {
    font-family: 'Handel-Gothic';
    src: url('../assets/fonts/Handel-Gothic.ttf') format('trutype');
}


/************/
/* General */
/**********/

* {box-sizing: border-box;}

body {
    background: linear-gradient(rgba(16,16,17,0.7), rgba(16,16,17,0.7)), url('/assets/images/city-skyline-1149137-1920-1920x1439.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (min-height: 568px) {
    height: 100%;
    .container {
        min-height: 568px;
    }
}

.full-height {
    height: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.text-center {
    text-align: center;
}

/***********/
/* Header */
/*********/

/*Use a flex container to hold the Brand & navbar*/
.header-container {
    display:inline-table;
    width:100%;
    padding:20px;
    margin-top: 20px;
    /*margin-bottom: 100px;*/ /* changed *//* to makeroom for dropdown menus*/
}

.header-container .hidden:hover {
    margin-bottom: 100px;
}

.brand {
    display: table-row;
    text-align: left;
    vertical-align: middle;
    font-family:'Montserrat',sans-serif;
    font-size: 1.25em;
    font-weight:650;
    background-color: transparent;
    color: white;
    float: left;
}

.nav-block {
    display: inline-grid;
    text-align: center;
    vertical-align: top;
    margin: 0 40px 0 10px;
}

.split {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    float: right;
    padding: 0 10px 0 10px;
}

/* Brand link styling*/
a.brand {text-decoration:none;}

a.brand:hover {color: cornflowerblue;} /*darkslateblue #19c589 $peas*/

/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    margin: 0 5% 0 2%;
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 0px;
    padding-left: 25px;
}

/*Style for menu links*/
li a {
    display: block;
    min-width: 100px;
    height: 25px;/*25*/
    text-align: center;
    vertical-align:middle;
    line-height: 1.5em;/*30px*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: white;/*#fff;*/
    background: transparent;/*#2f3036*/
    text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
    background: #F7F7F7;/*#19c589*/
    color: darkslateblue;/*#19c589$peas*/
}

/*Style for dropdown links*/
li:hover ul a {
    background: #F7F7F7;/*#f3f3f3*/
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    text-align: justify;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #42426F;/*#19c589 $peas #19c589*/
    color: #ffffff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
    position: absolute; /* changed */
    z-index: 1000; /* changed */
}

/*Increase the size of hamburger menu icon*/
.grow {
    font-size: 25px;
    margin: auto;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #42426F; /*19c589$peas #19c589*/
    text-align: center;
    padding: 10px 0;
    display: none;
    border-radius: 6px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

.btn.btn-outline-success.btn-sm.my-2.my-sm-0.table-cell {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
}

.btn.btn-outline-success.btn-sm.my-2.my-sm-0.table-cell:hover {
    border: none;
    background-color: white;
    color: $drk-grey;
}

#b-donate {
    height: 40px;
}

a.search-icon.table-cell {
    color: white;
    font-size: 1em;
}

.split a.search-icon.table-cell:hover {
    text-decoration: none;
    color: $rose;
}




/***************/
/* Index Page */
/*************/

.index-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.block {
    margin-top: 7.5%; /*13%*/
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

#content .index-container .row .col-md-12 .block h1.section-title {
    font-family: 'Montserrat-XB', sans-serif;
    color: white; /*#494f54*/
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.section-lead {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    font-style: italic;
}

#home-buttons {
    margin-left: 20%;
    margin-right: 20%;
}

.btn {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
    margin: 25px 20px 0px 20px;
}

.btn:hover  {
    border: none;
    background-color: white;
    color: $drk-grey;
}

#home-buttons a.btn.btn-outline-custom.btn-lg {
    background: transparent;
    background-size: cover;
    color: white;
    border: 2px solid white;
    border-radius: 1.6em;
    margin: 25px 20px 0px 20px;
}

#home-buttons a.btn.btn-outline-custom.btn-lg:hover  {
    border: none;
    background-color: white;
    color: $drk-grey;
}


/* About Page */

#about {
    background: transparent;
    height: 100vh;
    width: 100vw; 
}

#about .container {
    width: 100%;
    padding-top: 200px;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 25%;
}

#about-title {
    padding: 1.0rem 0 0.75rem 0;
    font-family: 'Lora', serif;
    font-style: italic;
    color: white;
    font-size: 1.7em; /*1.875em(30px)*/
}

#about-lead {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em; /*3.75em(60px);*/
}

#about .page-pad {
    content: '';
    width: 100%;
    height: 150px;
    margin: 0 auto;
}
/* About End */

/* Contact Info */
#contact-info {
    background: transparent; /*rgb(204, 204, 204)*/
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100vh-70px);
    width: 100w;
}

#contact-info .section-title {
    color: white;
}

.section-nopadding {margin-bottom: 30px;}

small.section-subtitle {
    color: white;
    font-style: italic;
}    

.col-xs-12 {
   margin-bottom: 20px; 
}

label {
    color: white;
}

/* Education Page */

#education {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#education .container {
    width: 100%;
    padding-top: 60px;
}

#education .section-title {
    color: white;
    font-weight: 600;
}

#education .section-subtitle {
    color: white;
    font-size: 1.65em;
    font-weight: 500;
}

#education .section-lead {
    margin: 0 10% 0 0%;
}

#education .row {
    margin-top: 35px;
    color: white;
}

#education .page-pad{
    content:'';
    padding: 80px;
}

/* Operation Re-boot Page */

#operation {
    width: 100%;
    height: 100%;
    background: url("/assets/images/crowd-2457732_1920.jpg");/*#f7f7f7*/
    background-cover: cover;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

/*#operation .jumbotron {
    width: 100%;
    height: 100%;
    text-align: center;
}*/

#operation .container {
    width: 100%;
    color: rgb(13,13,38); /*obsidian $obsidian*/ /*$drk-grey;*/
    font-family: 'Nova Round';
    font-size: $font-xbg;
    text-align: justify;
    padding-top: 90px;
    padding-bottom: 50px;
}

#operation .container p span {
    font-family: 'Lora', serif;
    font-size: 1.375em;
    font-weight: 600;
}

#operation .page-pad {
    padding: 0px;
}

/* Leaders Section */
#leaders {
    background-color: #808080; /*$md-grey # 8c8c8c #D2D4C9 rgb(102, 102, 102);*/
    padding-top: 0;
    padding-bottom: 0;
    border: 0px solid;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

.jumbotron {
    background: transparent;
}

#leaders table {
    margin-left: 13%;
    margin-right: 15%;
    margin-bottom: 50px;
    border: 0;
    #header-row {
        font-family: 'Slabo27';
        font-size: 2.25em;
        text-align: center;
        color: white;
        line-height: 125px;
    }
}

#leaders tr, #leaders td {
        border: 0;
        /*margin-bottom: 50px;*/
}

#leaders td {
    padding-right: 30px;
}

#leaders .caption {
    font-family: 'Nova Round', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#leaders .caption p {
    font-size: 1.5em;
}

#leaders .cap-title {
    font-size: 0.75em;
    font-style: italic;
}

#leaders img {
    border-radius: 6.5%;
}

/* Mission Section */

#mission {
    padding: 20px 0 20px 0;
    background: $lght-grey;
    h1 {
        text-align: justify;
        font-family: 'Montserrat-XB';
        font-size: 3.25em;
        font-weight: 500;
        padding: 80px 0 20px 0px;
    }
    .container {
        text-align: justify;
        height: 1200px;
        width: 100%;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.75em;
    }
}

/* Purpose Section */
#purpose {
    padding: 30px 0 20px 0;
    background: $lght-grey;
    h1 {
        text-align: justify;
        font-family: 'Montserrat-XB';
        font-size: 3.25em;
        font-weight: 500;
        padding: 50px 0 20px 0px;
    }
    .container {
        text-align: justify;
        height: 1200px;
        width: 100%;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
    }
}

#purpose h2.section-subtitle {
    font-family:'Montserrat-XB';
    font-size: 2.25em;
    margin: 100px 0 20px 0;
}

#purpose li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    list-style-type: square;
    padding: 0;
    line-height: 2em;
    color: black;
}


/* Post */
.article-container {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-- Resources Begin --*/

.directory {/* container */
    width: 100%;
    height: 100%;
    background: $water;/*#9DA1A2 white*/
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

#table-title {
    text-align: center;
    font-family: Geneva, Tahoma, Verdana, san-serif;
    font-size: 2.25rem;
    font-weight: 600;
    color: $cadet; /*#003399*/
    padding: 25px 0 25px 0;
    margin-left: 16.5%;
    margin-right: 20%;
}

table {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 7.5%;
    margin-right: 30%;
}

.table-bordered {
    border: 1px solid $cobalt;
}

.table-responsive {/* table wrapper - must for responsivity */
    background: $water; /*#9DA1A2 white*/
    height: 100%;
    margin-bottom: 100px;
}

/* Table Header */
.table-responsive thead tr th {
    background: #6665cd;/* darkblue $midnite;*/
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: normal;
    border-color: $cobalt;
}

/* Set Column widths based on these cells */
th.col-1.col-name, td.col-1.col-name.row-group {
  width: 20%;
}
th.col-2.col-address, td.col-2.col-address.row-group {
  width: 20%;
}
th.col-3.col-city, td.col-3.col-city.row-group {
  width: 10%;
}
th.col-4.col-phone, td.th.col-4.col-phone.row-group {
  width: 10%;
}
th.col-5.col-contact, td.col-5.col-contact.row-group {
  width: 20%;
}
th.col-6.col-note, td.col-6.col-note.row-group {
  width: 20%;
}

/* Row Heading */
.table-responsive .row-group {
    background-color: #e7e9fd;/*cbcefb*/
    color: $cobalt; /*#00009b*/
    text-align: left;
    vertical-align: middle;
    font-size: 0.8125em;
    font-weight: 700;
    border-top: 1px solid $cobalt;
    border-bottom: 1px solid $cobalt;
    border-left: 0;
    border-right: 0;
}

/* Cell Data */
.table-responsive td {
    font-family: Arial, sans-serif;
    color: $cobalt;
    font-size: 0.75em;
    padding: 10px 5px;
    border-style: dotted;
    border-width: 1px;
    border-color: $cobalt;
    text-align: left;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td a.text-info {
    color: #6665cd !important;
}
    
td a.text-info:hover {
    color: $rose !important;
}
/*-- Resources End --*/


/*-- Community News Start --*/

#community-news {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    background-color: #B0E0E6;
}

#community-news h1 {
    color: #120A8F; /*ultramarine see https://www.december.com/html/spec/color3.html*/
    text-align: center;
    font-weight: 500;
    padding: 40px 0 30px 0;
}

#community-news .container {
    width: 100%;
    padding-top: 10px;
    padding: 40px;
}

#community-news table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 20px;
}

table.highlights thead {
    font-family:'Montserrat', sans-serif;
    color: #120A8F;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 5px;
    word-break:normal;
    text-align:justify;
    vertical-align: middle;
    border-top: 1px solid slateblue;
    border-bottom: 1px solid slateblue;
}

.row1 {
    padding-top: 20px;
}

/* Set column widths */
table.highlights th.col-n, table.highlights td.col-n {width: 5%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.highlights th.col-t, table.highlights td.col-t {width: 50%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;text-align: center;}
table.highlights th.col-d, table.highlights td.col-d {width: 20%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.hightlights th.col-a,table.highlights td.col-a {width: 5%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}

table.highlights td {
    color: darkslateblue;
    font-family:'Slabo27px', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    /*padding: 20px;*/
    word-break:normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    border: none;
    text-shadow: 1px 1px 1px #ffffff;
}

table.highlights tr:hover {
    background-color: #f7f7f7; /* #ffff99 */
}

#community-news .page-pad {
    padding: 200px;
}

/*-- Community News End --*/


/*-- Scholarship Begins --*/

#scholarships {
    width: 100%;
}

h1.news-title {
    text-align: center;
    color: white;
}

.news-content {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: auto;
    background: $lght-grey;
    font-size: 0.65em;
    border: 1px dotted green;
}

.news-content a {
    color: $cobalt;
}

.page-pad {
    content: '';
    padding: 100px;
}

.col-xs-12.col-md-3 {
    margin-left: 3%;
    margin-right: 3%;
}

.col-xs-12.col-md-3 p a.link-entry {
    font-size: 1.5em;
}

.cat-header {
    color: $crimson;
    font-size: 2em;
    padding-top: 20px;
}

.col-md-10.col-md-offset-1.row2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

/* Table */

.table-block { /* wrap the table */
    width: 100%;
    height: 100%;
    margin-top: 13px;
    text-align: center;
    padding-right: 120px;
}

table.partners { /*controls the table*/
    width: 100%;
    height: 100%;
    background: transparent;
    padding-top: 50px;
    td a.caption {
        font-size: 0.75em;
        font-weight: 600;
        color: $water;
    }
}

table.partners tr {
    height: 100%;
}

table.partners tr:hover {
        background: white; /*$water*/
        .caption {
        color: $midnite;
        }
}

table.partners td { /* controls the data cells */
    text-align: center;
    vertical-align: middle;
}

img.img-responsive {
    padding-bottom: -30px;  
}

a.caption { /* controls the caption */
    display: inline-block;
    line-height: 1;
}

/* Calendar Section*/
#community_calender {
    background: #222C3B;/*#222C3B 4386fc #c9e9f6*/
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    margin-top: 0px;
    width: 100%;
    height: 1290px;
    content: center;
    h1 {
        color: $water;
    }
}

#community_calender .jumbotron {
    width: 100%;
    height: 100%;
    text-align: center;
    .calendar-wrap {
        margin-top: 5%;
    }
}

/* Events Table */
#events {width: 100vw; height: 100vh;}

.events-wrap {
    background: #222C3B;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    border: 0px solid;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1); 
}

.events-titles {
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {color: white;}
    a {
    font-family: 'Montserrat-XB';
    font-style: italic;
    font-size: 2em;
    color: white;
    text-decoration: none;
    }
    a:hover {color: $rose;}
}

table.events {
    margin-left: 1.5%;
    margin-right: 3%;
    table-layout:fixed;
    border-radius: 20px;
    background: #B0E0E6;/*white #B0E0E6 deepskyblue*/
    border-spacing:0;
    color: $midnite;/* #222C3B */
    border-collapse: collapse;/* separate */
}

.events td {
    font-family:'Slabo27px', sans-serif;
    font-size: 0.875em;
    font-weight: 500;
    padding: 10px;
    word-break:normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    border: 1px solid navy;
    text-shadow: 1px 1px 1px #ffffff;
}

.events thead tr {background: transparent;}

.events th {
    font-family:'Montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    padding:10px 5px;
    word-break:normal;
    text-align:justify;
    vertical-align: middle;
}

.col-entry a {color: navy; }

.col-entry a:hover {color: $rose;}

.round-table {border:none;}

.round-table {
    border:none;
    text-shadow:1px 1px 1px white;
}

.round-table thead th:first-child{border-radius:20px 0 0 0;}

.round-table thead th:last-child{border-radius:0 20px 0 0;}

.round-table td{border: none; border-top:1px solid navy; background-color:white;}

.round-table tr:last-child td:first-child{border-radius:0 0 0 20px;}

.round-table tr:last-child td:last-child{border-radius:0 0 20px 0;}

/* Set column widths & overflow */
table.events th.col-entry, table.events td.col-entry {width: 5%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;text-align: center; font-weight: bold;}
table.events th.col-date, table.events td.col-date {width: 16%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-time, table.events td.col-time {width: 10%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-event, table.events td.col-event {width: 32%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-sponsor, table.events td.col-sponsor {width: 32%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
table.events th.col-attachment,table.events td.attachment {width: 5%;overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}

/* Tooltip Design */
.row-summary {
  postion: relative;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.row-details {
  display: none;
  position: absolute;
  border: 1px;/*0*/
  border-style: solid;
  border-width: 2px;/*0*/
  border-color: $midnite;/*$water*/
  border-radius: 12px;
  padding: 10px;
  left: 10%;
  width: 50%;
  height: auto;
  line-height: 2em;
  word-break: normal;
  white-space: normal;
  vertical-align: middle;
  text-align: justify;/* left */
  margin-top: 20px;
}

.row-details:after {
  position: absolute;
  top: -20px;
  bottom: 0;
  height: 0;
  width: 0;
  left: 1.5%;
  border: 10px solid transparent;
  border-bottom-color: #222C3B;;
  content: "";
}

.row-summary:hover span.row-details {
  background: #f2f2f2;/* #f9f9eb $water beige $midnite #222C3B */
  color: navy;/* $cobalt #222C38 */
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.25em;
}
/* Tooltip Design End*/


/*-----------------------*/
/*--- Showcase Start ---*/
/*---------------------*/

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.card {
   /* display: block; */
    position: absolute;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border: 2px navy;
    top: 0;
    text-align: center;
    padding: 26% 0 10% 0;
    color: white;
    /*z-index: 1;*/
}

.card .subtitle {
    font-size: 1.5em;
    text-align: center;
}

.card h2 {
    font-size: 3.5em;
    font-weight: 700;
}

.card a {
    color: white;
}

.card a:hover {
    color: $rose;
}

.card p {
    font-size: 2em;
}

.card p.custom {
    font-size: 1.275em;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    line-height: 35px;
    margin: 0 15% 0 20%;
}

.card h2.info-subtitle {
    font-size: 1em;
    text-align: justify;
}

.card .msg-box {
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    padding-left: 40px;
    padding-right: 50px;
    word-wrap: break-word;
}

.card h1.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    color: white;
}

.card .msg-box h2.info-subtitle span.footnote {
    font-size: 2em;
}


/* Showcase Request Form */

#showcase-request {
    background: rgba(61,71,79,0.4); /*#4B4364 rgba(85,57,130,0.4)rgb(204,204,204)*/
    padding-top: 20px;
    margin-bottom: 30px;
    width: 100w;
}

#showcase-request h1.section-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.65em;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

#showcase-request p.section-title {
    color: white;
    font-size: 1.125em;
}

#showcase-request .section-nopadding {margin-bottom: 30px;}

#showcase-request p.section-subtitle {
    color: white;
    font-size: 1.125em;
    font-style: italic;
}    

#showcase-request .col-xs-12 {
   margin-bottom: 20px; 
}

#showcase-request label {
    color: white;
}


/*---------------------*/
/*--- Showcase End ---*/
/*-------------------*/


/*----------------------*/
/*--- Donation Form ---*/
/*--------------------*/

#donation {
    width: 100%;
    height: 100%;
    background-color: rgba(85,57,130,0.35);/* rgba(85,57,130,0.5) */
    border: 0px solid;
    border-radius: 60px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
}

#donation .statement {
    width: inherit;
    color: white;
    margin-top: 0px;
    padding: 200px 15% 70px 10%;
    line-height: 30px;
}

#donation h1.title {
    font-family: 'Nova Round';
    font-size: 3.5em;
    font-weight: 600;
}

#donation h2.subtitle {
    padding: 10px 0 10px 0;
}

#donation .statement p.custom {
    font-size: 1.375em;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    line-height: 35px;
    margin: 0 0% 0 0%;
}

#donation .payment {
    padding: 30px;
    text-align: left;
}

/* Thank You Page */

#thank-you {
    width: 100%;
    background-color: rgba(85,57,130,0.35);/* rgba(85,57,130,0.5) */
    border: 0px solid;
    border-radius: 60px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    color: gold;
}


#thank-you .statement {
    width: inherit;
    color: gold;
    margin-top: 0px;
    padding: 300px 15% 200px 10%;
    line-height: 30px;
}

#thank-you h1.title {
    font-family: 'Nova Round';
    font-size: 3.5em;
    font-weight: 600;
}

#thank-you h2.subtitle {
    font-style: italic;
    padding: 10px 0 10px 0;
}

#thank-you .statement p.custom {
    font-size: 1.375em;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    line-height: 35px;
    margin: 0 0% 0 0%;
}

#thank-you .page-pad {
    padding: 80px;
}

/* Internship Page */

#internship {
    width: 100%;
    background-color: rgba(35,107,142,0.35);/* rgba(85,57,130,0.5) */
    border: 0px solid;
    border-radius: 60px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    box-shadow: 0px 3px 84px 10px rgba(247,247,247,1);
    color: #E0EEEE;
    padding-top: 40px;
}

#internship h1 {
    font-family: 'Montserrat-XB';
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    /*margin-bottom: 30px;*/
}

#internship h2 {
    font-family: 'Raleway';
    text-align: center;
    font-style: italic;
}

#internship h4 {
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 600;
}

#internship .block {
    margin: 0px 15% 0 10%;
    padding: 30px;
}

#internship p {
    font-family: 'Lora';
    font-size: 1.25em;
}

hr {
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224, 238, 238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224, 238, 238,1);
    box-shadow: 0px 3px 84px 10px rgba(224, 238, 238,1);
}

.wall {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    padding: 30px;
}

.wall h2 {
    font-size: 2.125em;
    font-weight: 700;
}

figure {
        margin: 30px 0 30px 0;
}

.wall img {
    border-radius: 50%;
}

figcaption {
    padding-top: 10px;
}

figcaption span {
    font-size: 1.225em;
    font-weight: bold;
}

#internship .page-pad {
    padding: 30px;
}

/*-- Search Page --*/

#search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /*height: 600px;*/
    background-color: #363D4B;/*838B8B C1CDCD cornflowerblue*/
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

#search .container {
    width: 100%;
    flex: 1 auto;
    padding-top: 30px;
}

#search .col-md-12 {
    width:100%;
    text-align: center;
}

#search h1 {
    font-family: 'Open Sans';
    font-size: 3em;
    font-weight: 800;
    color: white; /*rgb(224,238,238)*/
}

#search h4 {
    font-family: 'Lora';
    font-size: 1em;
    font-weight: 300;
    color: white;
}

#search h4 span {
    font-size: 1.75em;
}

#search .col-md-12 .custom-engine {
    margin-top: 30px;
}

#search .split .custom-engine form {
    border: none;
}


.gsc-control-cse.gsc-control-cse-en {
    background: transparent;
    border: none;
}

#search .split .custom-engine .gsc-control-wrapper-cse {
    width: 100px;
}

form.gsc-search-box.gsc-search-box-tools {/*this effects immediate border of search box*/
    background: trasparent; /*#333B4A */
    border-width: 1px;
    border-style: solid;
    border-color: none;
    border-image: none;
    border-radius: 20px;
}

.gsc-result-info-container {
    width: 100vw;
}


#search .page-pad {
    padding: 250px;
}

/* Symposium Page */

#symposium {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

#symposium .container{
    width: 100%;
    text-slign: justify;
    padding: 70px 0 50px 0;
    margin: 0 auto;
}

#symposium .masthead {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    h1 {
        font-family: 'Open Sans';
        font-weight: 800;
    }
    h4 {
        font-size: 1.75em;
        font-style: italic;
        font-weight: 300;
    }
}

#symposium h4 a {
        font-size: 1.05em;
        font-style: italic;
        font-weight: 400;
        text-decoration: none;
        color: black;
}

#symposium h4 a:hover {
    color: $rose;
    font-weight: 500;
}

#symposium h2 {
    font-size: 1.5em;
}

#symposium p {
    font-size: 1.2em;
    text-align: justify;
}

#symposium .comment {
padding-top: 20px;
    text-align: center;
}

#symposium .page-pad {
    content: '';
    padding: 30px;
}


/* Testimonial Page */

#testimony {
    width: 100%;
    height: 100%;
    background: $lght-grey;
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

#testimony .container{
    width: 100%;
    text-slign: justify;
    padding: 50px 0 50px 0;
    margin: 0 auto;

}

#testimony .masthead {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    h1 {
        font-family: 'Open Sans';
        font-weight: 800;
    }
    h5 {
        font-family: 'Nova Round';
        font-size: 1.12em;
        font-style: italic;
        font-weight: 300;
        text-align: center;
    }
}

#testimony .closer {
    text-align: center;
    font-weight: 350;
}

#testimony .closer h5 span {
 font-family: 'Pacifico';   
}

#testimony h5 a {
        /*font-size: 1.115em;*/
 
        
        text-decoration: none;
        color: $obsidian;
        text-align: center;
}

#testimony h5 a:hover {
    color: $rose;
    font-weight: 500;
}

#testimony h2 {
    font-size: 1.5em;
}

#testimony p {
font-family: 'Nova Round';
    font-size: 1.2em;
    line-height: 30px;
    text-align: justify;
}

#testimony .page-pad {
    padding: 50px;
}




/*--------------------*/
/*--- Footer Start- --*/
/*--------------------*/
footer {
    display: table;
    background: transparent;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 10px 25% 0 10%;/*center horizontally*/
}

footer p {
    font-family: 'Montserrat-XB', sans-serif;
    font-size: 0.8125em;
    text-align: center;
    color: white;
}

footer p a:hover {
    color: $rose;
}

.foot-menu {display: table-row; vertical-align: middle;}

.foot-menu ul li {
    display: inline;
    text-align: center;
    font-size: 0.8em;
}

.foot-menu ul li a {
    color: #white; /*#494949*/
}

.foot-menu ul li a:hover {
    color: $rose;
}

#masthead {
    color: white;
}

#webmaster {
    font-family: 'Handel-Gothic', sans-serif;
    color: white;
}

a#masthead:hover, a#webmaster:hover {
    color: $rose;
}

.bottom-control {
    display: table-row;
    vertical-align: middle;
}
/* Footer End */