@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Nova+Round|Nova+Square|Open+Sans|Pacifico|Raleway|Slabo+13px|Slabo+27px');


/* Search Page Begins */

#search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /*height: 600px;*/
    background-color: #363D4B;/*838B8B C1CDCD cornflowerblue*/
    border-radius: 40px;
    -webkit-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
    -moz-box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);/*rgba(247,247,247,1) */
    box-shadow: 0px 3px 84px 10px rgba(224,238,238,1);
}

#search .container {
    width: 100%;
    flex: 1 auto;
    padding-top: 30px;
}

#search .col-md-12 {
    width:100%;
    text-align: center;
}

#search h1 {
    font-family: 'Open Sans';
    font-size: 3em;
    font-weight: 800;
    color: white; /*rgb(224,238,238)*/
}

#search h4 {
    font-family: 'Lora';
    font-size: 1em;
    font-weight: 300;
    color: white;
}

#search h4 span {
    font-size: 1.75em;
}

#search .col-md-12 .custom-engine {
    margin-top: 30px;
}

#search .split .custom-engine form {
    border: none;
}

.gsc-control-cse.gsc-control-cse-en {
    background: transparent;
    border: none;
}

#search .split .custom-engine .gsc-control-wrapper-cse {
    width: 100px;
}

form.gsc-search-box.gsc-search-box-tools {/*this effects immediate border of search box*/
    background: trasparent; /*#333B4A */
    border-width: 1px;
    border-style: solid;
    border-color: none;
    border-image: none;
    border-radius: 20px;
}

.gsc-result-info-container {
    width: 100vw;
}

/*
 #search .page-pad {
     padding: 250px;
 }
*/

/* Search Page Ends */
